body {
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 40px;
}

button {
  margin: 10px;
  padding: 10px 20px;
  font-size: 18px;
  background-color: rgb(44, 142, 202);
  color: white;
  border-style: hidden;
}
